# IntelliJ
.idea/
*.iml
*.iws
*.ipr
atlassian-ide-plugin.xml

# Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*.log

# Mac
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes

# Maven
target/
